<html>
<head>
<title>Wizardinfo not found</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
	<div id="header">
		<h1>Wizardinfo</h1>
		<h2>single player</h2>
	</div>
	<div id="nav">
		<h1>Menu</h1>
		<ul>
			<li><a href="{{ url_for("search_single_player") }}">single player</a></li>
			<li><a href="#2">rank list</a></li>
			<li><a href="#3">Rawr list</a></li>
		</ul>
	</div>
	<div id="content">
		<h3>Ups! We couldn't find a player with this name.</h3>
	</div>
	<!--<div id="footer">
		wizardlist <a href="https://gitlab.com/Igel_Borstel/hypixelwizardleaderboard.git">source code</a>
	</div>-->
</body>
