<html>
<head>
<title>Wizardinfo {{ wizard_data.player_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
	<div id="header">
		<h1>Wizardinfo</h1>
		<h2>single player</h2>
	</div>
	<div id="nav">
		<h1>Menu</h1>
		<ul>
			<li><a href="{{ url_for("search_single_player") }}">single player</a></li>
			<li><a href="#2">rank list</a></li>
			<li><a href="#3">Rawr list</a></li>
		</ul>
	</div>
	<div id="content">
		<img src="https://minotar.net/body/{{ wizard_data.player_name }}/100.png" />
		<ul>
			<li><h3>{{ wizard_data.player_name }}</h3></li>
			<li>total wins: 	{{ wizard_data.wins }}</li>
			<li>total kills: 	{{ wizard_data.kills }}</li>
			<li>total assists: 	{{ wizard_data.assists }}</li>
			<li>total deaths: 	{{ wizard_data.deaths }}</li>
			<li>total k/d:      {% if wizard_data.deaths == 0 %}
                                    {{ wizard_data.kills }}
                                {% else %}
                                    {{ (wizard_data.kills / wizard_data.deaths)|round(2) }}
                                {% endif %}</li>
            <li>total k/a:      {% if wizard_data.assists == 0 %}
                                    {{ wizard_data.kills }}
                                {% else %}
                                    {{ (wizard_data.kills / wizard_data.assists)|round(2) }}
                                {% endif %}</li>
			<li>last class: 	{% if wizard_data.selected_class == "new_firewizard" %}
                                    fire
                                {% elif wizard_data.selected_class == "new_icewizard" %}
                                    ice
                                {% elif wizard_data.selected_class == "new_witherwizard" %}
                                    wither
                                {% elif wizard_data.selected_class == "new_kineticwizard" %}
                                    kinetic
                                {% elif wizard_data.selected_class ==  "new_bloodwizard"%}
                                    blood
                                {% elif wizard_data.selected_class == "new_toxicwizard" %}
                                    toxic
                                {% endif %}</li>
		</ul>
		<h2>class information</h2>
		<table>
			<tr>
				<th>class</th>
				<th>kills</th>
				<th>assists</th>
				<th>deaths</th>
				<th>k/d</th>
                <th>k/a</th>
				<th>explosion power</th>
				<th>mana regeneration</th>
				<th>prestige</th>
			</tr>
            {% for class in class_data%}
			<tr>
				<td>{{ class.class }}</td>
				<td>{{ class.kills }}</td>
				<td>{{ class.assists }}</td>
				<td>{{ class.deaths }}</td>
				<td>{% if class.deaths == 0 %}
                        {{ class.kills }}
                    {% else %}
                        {{ (class.kills / class.deaths)|round(2) }}
                    {% endif %}</td>
                <td>{% if class.assists == 0 %}
                        {{ class.kills }}
                    {% else %}
                        {{ (class.kills / class.assists)|round(2) }}
                    {% endif %}</td>
				<td>
                {% if class.explosion == 0 or class.explosion == 1 %}
                    Power I
                {% elif class.explosion == 2 %}
                    Power II
                {% elif class.explosion == 3 %}
                    Power III
                {% elif class.explosion == 4 %}
                    Power IV
                {% elif class.explosion == 5 %}
                    Power V
                {% elif class.explosion == 6 %}
                    Power VI
                {% elif class.explosion == 7 %}
                    Power VII
                {% elif class.explosion == 8 %}
                    Power VIII
                {% elif class.explosion == 9 or class.explosion == 10 or class.explosion == 11 %}
                    Power IX
                {% endif %}</td>
				<td>{% if class.regeneration == 0 or class.regeneration == 1 %}
                    Regen  I
                {% elif class.regeneration == 2 %}
                    Regen  II
                {% elif class.regeneration == 3 %}
                    Regen  III
                {% elif class.regeneration == 4 %}
                    Regen  IV
                {% elif class.regeneration == 5 %}
                    Regen  V
                {% elif class.regeneration == 6 %}
                    Regen  VI
                {% elif class.regeneration == 7 %}
                    Regen  VII
                {% elif class.regeneration == 8 %}
                    Regen  VIII
                {% elif class.regeneration == 9 or class.regeneration == 10 or class.regeneration == 11 %}
                    Regen  IX
                {% endif %}</td>
				<td>{{ class.prestige }}</td>
			</tr>
            {% endfor %}
		</table>
	</div>
	<!--<div id="footer">
		wizardlist <a href="https://gitlab.com/Igel_Borstel/hypixelwizardleaderboard.git">source code</a>
	</div>-->
</body>
