<html>
<head>
<title>Wizardinfo single player search</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
	<div id="header">
		<h1>Wizardinfo</h1>
		<h2>single player</h2>
	</div>
	<div id="nav">
		<h1>Menu</h1>
		<ul>
			<li><a href="{{ url_for("search_single_player") }}">single player</a></li>
			<li><a href="#2">rank list</a></li>
			<li><a href="#3">Rawr list</a></li>
		</ul>
	</div>
	<div id="content">
		<form action="" method="post" name="search_single_player">
            {{ form.hidden_tag() }}
			<input type="submit" value="search" /> {{ form.name(size=36, placeholder="uuid/name") }}
		</form>
	</div>
	<!--<div id="footer">
		wizardlist <a href="https://gitlab.com/Igel_Borstel/hypixelwizardleaderboard.git">source code</a>
	</div>-->
</body>
