/*style.css*/


body {
	padding: 0px;
	margin: 0px;
}

#header {
	background-color: lightblue;
	margin: 0px;
	border: 0px;
	border-bottom-right-radius: 35px;
	padding: 10px;
	clear: right;
}

#header h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
	text-align: left;
	display: inline;
}

#header h2 {
	margin: 0px;
	padding: 0px;
	text-align: right;
	display: inline;
}

#nav {
	background-color: lightblue;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 100%
}

#nav h1 {
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14pt;
	text-align: center;
}

#nav ul {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0px;
	font-size: 12pt;
}

#nav li {
}

#content {
	margin: 20px;
	float: left;
}

#content h3 {
	font-size: 20pt;
	margin: 0px;
	margin-bottom: 10px;
}

#content img {
	display: inline;
	float: left;
}

#content ul {
	float: left;
	list-style-type: none;
	display: inline;
	margin: 0px;
}

#content li {
}

#content h2 {
	clear: left;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18pt;
}

#content table {
	clear: left;
	border-collapse: collapse;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#content th {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: lightblue;
	margin: 0px;
}

#content tr {
	margin: 0px;
	padding: 0px;
}

#content tr:nth-child(even) {
	background-color: #f2f2f2;
}

#content td {
	margin: 0px;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	border-left-width: 1px;
	border-left-color: black;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-color: black;
	border-right-style: solid;
}

#content form {
	margin: 0px;
	padding: 0px;
}

#content input[type=text] {
	#color: lightgrey;
}

#content input[type=submit] {
}

#footer {
	float: left;
}